@import '/estilos/estilo.css';


select>option:disabled{
  background: white;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
llenar formulario
  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
  #contenido_general{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: var(--tamano-letra);
  }
  #contenido_rpa{
    width: 630px;
    padding-bottom: 50px;
  }
  .interior_formulario_rpa{
    width: 100%;
    border: 2px solid var(--color-1-formulario);
    border-radius: 15px;
    display: block;
    margin: 15px 0;
  padding: 10px 10px 10px 0;

  }
.interior_formulario_titulo_rpa{
    padding: 20px 0 10px 0;
    
}


.interior_formulario_rpa>div{
  display: flex;
  margin: 10px 0;
  
}

.label_formulario_rpa{
  min-width: 300px;
  height: 25px;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
}

.label_formulario_informacion_rpa{
  width: 100%;
  display: inline-block;
  margin: 0 5px;
  height: 25px;
  padding: 0 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--color-label-informacion);
}


.interior_botones_formulario_rpa{
  border: 0;
  background-color: var(--color-1-formulario);
  padding: 5px 10px;
  width: 210px;
  color: white;
  border-radius: 12px;
  height: 40px;
  font-size: calc(var(--tamano-letra) - 3px);
  margin: 0 10px
}
.interior_botones_formulario_rpa:hover,
  .interior_botones_formulario_rpa:focus {
  cursor: pointer;
  }
  .contenedor_boton_rpa{
    justify-content: end;
  }



  




  





  /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
modal confirmar registro
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#contenido_confirmar_pp {
  background-color: #fefefe;
  margin-top: 50px;
  padding: 0 10px 20px 10px;
  border: 1px solid var(--color-1-formulario);
  border-radius: 15px;
  width: 500px;
  display: none;
  font-size: 15px;
}
.interior_confirmar_registro_mensaje_pp{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-top: 2px solid var(--color-1-formulario);
  border-bottom: 2px solid var(--color-1-formulario);
  float: right;
  width: 100%;
}
.interior_confirmar_registro_botones_pp{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 10px 5px;
  width: 100%;
}
.interior_botones_confimrar_pp{
  border: 0;
  background-color: var(--color-1-formulario);
  padding: 13px 10px;
  width: 49.5%;
  color: white;
  border-radius: 8px;
  font-size: var(--tamano-letra);
}
.interior_botones_confimrar_pp:hover,
.interior_botones_confimrar_pp:focus {
cursor: pointer;
}
.informacion_label_1_pp{
  display: block;
  justify-content: right;
  width: 40%;
}
.informacion_label_1_pp>label{
  padding: 5px 0;
  float: right;
  width: 100%;
  text-align: right;
  height: 26px;
}
.informacion_label_2_pp{
  display: block;
  width: 60%;
  padding-left: 10px;
}
.informacion_label_2_pp>label{
  padding: 5px 0;
  float: left;
  width: 100%;
  text-align: left;
  color: rgb(95, 95, 95);
  height: 26px;
}
.interior_confirmar_registro_superior_pp
{
  border-top: 3px solid var(--color-1-formulario);
  border-bottom: 3px solid var(--color-1-formulario);
  margin: 30px 0 10px 0;
  padding: 20px 0;
}
.interior_confirmar_registro_superior_pp>label
{
  font-size:  var(--tamano-letra);
}
#label_mensaje_alerta_pp{
  font-size: var(--tamano-letra);
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
modal alerta
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#mensaje_alerta_pp {
  background-color: #fefefe;
  margin-top: 50px;
  padding: 0 10px 20px 10px;
  border: 1px solid var(--color-1-formulario);
  border-radius: 15px;
  width: 450px;
  display: none;
  font-size: 15px;
}       
.interior_alerta_pp{
  display:flex;
  justify-content: right;
  align-items: center;
  padding: 20px 10px 10px 5px;
  width: 100%;
}
.mensaje_alerta_boton_pp{
  border: 0;
  background-color: var(--color-1-formulario);
  padding: 13px 10px;
  width: 49.5%;
  color: white;
  border-radius: 8px;
  font-size: var(--tamano-letra);
}
#interior_alerta_botones_pp{
  font-size: calc(var(--tamano-letra) + 5px);
  padding: 20px 0;
  justify-content: center;
  margin-top: 30px;
  border-top: 2px solid var(--color-1-formulario);
  border-bottom: 2px solid var(--color-1-formulario);
}
.mensaje_alerta_boton_pp:hover,
.mensaje_alerta_boton_pp:focus {
  cursor: pointer;
  }