.iconos_tabla_accion{
    /*width: 100px;
    display: inline-table;*/
    width: auto;
    display: flex;
    justify-content: center;
    /*justify-content: space-between;*/
    padding: 0 5px;
}
.iconos_tabla_accion>svg{
    margin-right: 5px;
}
.iconos_tabla_accion>svg{
    fill: white;
}
.iconos_tabla_accion:hover{
    cursor: pointer;
}
