
#label_indicador{
    padding-top: 0;
    padding-left: 35px;
    font-size: 40px;
    font-weight: 500;
    width: 50%;
    text-align: left;
    word-spacing: 50px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}
#contenedor_asignados{
    display: flex;
    justify-content: flex-end;
}
#contenedor_asignados>#input_asignado_pp{
    width: 507px;
}
#formulario_restablecer_asignado_pp{
    margin-left: 5px;
    width: 36px;
    height: 36px;
}

.todos_boton_restablecer:hover,.todos_boton_restablecer::after{
cursor: pointer;
}
.input_formulario_7_pp>div,.input_formulario_8_pp>div{
    display: flex;
    justify-content: flex-start;
}
.input_formulario_7_pp>div>.contenedor_input_label_form{
    width: 190px;
}
.boton_restablecer_2{

    margin: 0 2px 0 4px;
}
.input_formulario_3_pp:first-child {
    width: 542px;
}
#input_creado_por_pp{
    width: 100%;
}
.input_formulario_4_pp>div>.boton_calcular{
    margin-right: 0;
}
