@import '/estilos/estilo.css';
body{
    display: inline-flexbox;
    font-size: 18px;
}
header{
    background-image: linear-gradient(
        rgba(67, 196, 196, 0.85),
        rgba(67, 196, 196, 0.85)
      ), url("imagenes/consultorio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    border: 0;
    color: rgb(255, 255, 255);
    height: 470px;
    position: relative;
    padding-top: 150px;
    font-size: 25px;
    
    
}
footer{
    color: var(--color-paguina-principal);
    height: 30%;
    position: relative;
    padding: 50px;
    font-size: 20px;
}
h1{
    font-size: 60px;
    font-weight: 800;
}
div{
    text-align: center; 
    font-weight: bold;
    
}
#inicio_sesion_pgpr{
    border: 0;
    background-color: var(--color-paguina-principal);
    padding: 15px 40px;
    color: white;
    font-size: var(--tamano-letra);
    border-radius: 18px;
}
#inicio_sesion_pgpr{
cursor: pointer;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
MODAL INGRESAR E INICIAR SESION
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.modal_ids {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(32, 32, 36); /* Fallback color */
    background-color: rgba(41, 81, 87, 0.4); /* Black w/ opacity */
  }
  /* Modal Content */
  .modal_contenido_ids {
    background-color: #fefefe;
    margin: 0;
    padding: 0 10px;
    border: 1px solid var(--color-1-formulario);
    border-radius: 15px;
    width: 400px;
    display: inline-block;
  }


  #modal_interior_superior_formulario_ids{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 10px 5px;
    border-bottom: 2px solid var(--color-1-formulario);
}
  #modal_boton_cerrar_superior_ids {
    color: #333333;
    font-size: 40px;
    font-weight: bold;
  }
  #modal_boton_cerrar_superior_ids{
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
  }
  #modal_icono_cerrar_ids{
    fill: var(--color-1-formulario);
    width: 25px;
    height: 25px;
  }
  #modal_boton_cerrar_superior_ids:hover,
  #modal_boton_cerrar_superior_ids:focus {
    cursor: pointer;
  }
#modal_titulo_ids{
    font-size: 28px;
    vertical-align:bottom;
}
.modal_interior_formulario_ids{
    padding: 15px 0px;
}

#modal_interior_mensaje_error_ids{
  /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
  justify-content: center;
  width: 100%;
  padding: 5px 10px 10px 5px;
  border: 2px solid var(--color-1-error);
  margin: 5px 0 -12px 0;
  display: none;
}

#modal_interior_valores_formulario_ids{
    border-bottom: 2px solid var(--color-1-formulario);
    padding: 0 15px 20px 15px;
    justify-content: left;
    overflow: hidden;

}
.modal_label_formulario_ids{
    float:left;
    padding-top: 25px;
    padding-bottom: 8px;
}

.modal_mensaje_ids{
  /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
  color: var(--color-1-error);
  display: none;
  padding: 0;
  margin: 0;
}
.modal_mensaje_ids:before{
    content: '⚠ ';
    font-size: 18px;
    font-family: 'Times New Roman';
    color: var(--color-1-error);
}
.modal_input_formulario_ids{
    float:left;
    width: 100%;
    height: 40px;
    border: 2px solid var(--color-1-formulario);
    border-radius: 19px;
    font-size: var(--tamano-letra);
    font-weight:lighter;
    padding: 0 25px 0 25px;
}


.grupo_grupo_input_contraseña_ids{
    display: inline;
}
#contrasena_ids{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0 ;
  width: 85%;
}
#mostrar_ocultar_contrasena_ids{
  float:left;
  border: 2px solid var(--color-1-formulario);
  height: 40px;
  width: 15%;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  padding-top: 5px;
  border-left: 0;
}
#visualizar_contrasena_ids{
  fill: var(--color-1-formulario);
  width: 25px;
  height: 25px;
}
#visualizar_contrasena_ids:hover,
#visualizar_contrasena_ids:focus {
  cursor: pointer;
}

input[type=checkbox]
{
    display: none;
}

input[type=checkbox]:hover,
input[type=checkbox]:focus {
  cursor: pointer;
}
.modal_label_formulario_checkbox_ids:before{
    content: '';
    background: transparent;
    border: 2px solid var(--color-1-formulario);
    border-radius: 6px;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 13px;
    text-align: center;
    vertical-align: bottom;
    
}
input[type=checkbox]:checked+.modal_label_formulario_checkbox_ids:before{
    content: '✓';
    font-size: 17px;
    font-family: 'Times New Roman';
    color: white;
    background: var(--color-1-formulario);
}

.modal_label_formulario_checkbox_ids:hover,
.modal_label_formulario_checkbox_ids:focus{
    cursor: pointer;
}


#modal_interior_contenedor_botones_formulario_ids{
    padding: 23px 0 28px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.modal_interior_botones_formulario_ids{
    border: 0;
    background-color: var(--color-1-formulario);
    padding: 13px 10px;
    width: 49.5%;
    color: white;
    border-radius: 8px;
    font-size: var(--tamano-letra);
}
.modal_interior_botones_formulario_ids:hover,
.modal_interior_botones_formulario_ids:focus {
  cursor: pointer;
}


