@font-face{
    font-family: "League_Spartan";
    src : url("/fuente/League_Spartan/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
  }
  @keyframes anim{
    0% {border-color: rgb(0, 190, 246);}
    20% {border-color: rgb(30, 127, 246);}
    30% {border-color: rgb(60, 127, 246);}
    40% {border-color: rgb(90, 127, 246);}
    50% {border-color: rgb(120, 127, 246);}
    60% {border-color: rgb(120, 127, 246);}
    70% {border-color: rgb(90, 127, 246);} 
    80% {border-color: rgb(60, 127, 246);}
    90% {border-color: rgb(30, 127, 246);}
    100% {border-color: rgb(0, 190, 246);}
  }
  @keyframes indicar_buscar{
    0% {background-color: rgb(0, 190, 246);}
    20% {background-color: rgb(30, 127, 246);}
    30% {background-color: rgb(60, 127, 246);}
    40% {background-color: rgb(90, 127, 246);}
    50% {background-color: rgb(120, 127, 246);}
    60% {background-color: rgb(120, 127, 246);}
    70% {background-color: rgb(90, 127, 246);} 
    80% {background-color: rgb(60, 127, 246);}
    90% {background-color: rgb(30, 127, 246);}
    100% {background-color: rgb(0, 190, 246);}
  }
  :root {
    --tamano-letra: 20px;
    
    --color-paguina-principal: #1f2f98;
    --color-paguina-principal-opacidad: #00d9ff;
    --color-principal: #45c4c4;
    --color-1-formulario: #787ff6;
    --color-1-error: #e24444;
    --color-selecionar: #7bd5f5;
    --color-label-informacion: #5b5b5b;
    --color-fondo-contenedores-modal: white;
    --color-1-fondo-chbk: #e0d9ff;
    
    /*-color-fondo-modal: #fefefe;*/
   
  }
  input,select,textarea{
  outline: none;
  appearance:none;
  }
  textarea {
    resize: none;
 }
  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League_Spartan';  
  }
  ::-ms-reveal {
  display: none;
  }
  body{
    display: inline-flexbox;
    font-size: 18px;
  }
  div{
    text-align: center; 
    font-weight: bold;
  }
  header,.seccion_pp{
    display: flex;
    justify-content: center;
    background-color: var(--color-principal);
    width: 100%;
  }
  .seccion_normal_pp{
    background-color: white;
    color:black;
  }
  .elementos_contenedores_pp{
    display:flex;
    justify-content: center;
    align-items: center;
    
  }