#contenido_asignar_personal {
    background-color: #fefefe;
    margin-top: 50px;
    padding: 0 10px 20px 10px;
    border: 1px solid var(--color-1-formulario);
    border-radius: 15px;
    width: 700px;
    display: none;
    font-size: 15px;
  }
  .interior_confirmar_registro_mensaje_pp{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-top: 2px solid var(--color-1-formulario);
    border-bottom: 2px solid var(--color-1-formulario);
    float: right;
    width: 100%;
    overflow: auto;
  }
  .interior_confirmar_registro_botones_asignar_pp{
    display:flex;
    justify-content: right;
    align-items:center;
    padding: 20px 10px 10px 5px;
    width: 100%;
  }
  #tabla_overflow{
    min-height: 110px;
    height: 200px;
    max-height: 220px;    
    padding: 0;
  }
  #nombre_de_fila_asignar_pp,#usuario_de_fila_asignar_pp,#tabla_overflow>tbody>tr>td{
    width: 100%;
  }
  #numero_de_fila_asignar_pp,#tabla_overflow>tr>th:first-child,#tabla_overflow>tbody>tr>td:first-child{
    width: 20px;
    padding: 0 20px;
  }
  .interior_botones_confimrar_asignar_pp{
    border: 0;
    background-color: var(--color-1-formulario);
    padding: 13px 10px;
    width: 49.5%;
    color: white;
    border-radius: 8px;
    font-size: var(--tamano-letra);
  }
  .interior_botones_confimrar_asignar_pp:first-child{
    margin-right: 10px;
  }
  .interior_botones_confimrar_asignar_pp:hover,td:hover,td:focus,
  .interior_botones_confimrar_asignar_pp:focus {
  cursor: pointer;
  }

  .interior_confirmar_registro_asignar_superior_pp{
    padding: 30px 0 20px 0;
  }
  .interior_confirmar_registro_asignar_superior_pp>label
  {
    padding-top: 10px;
    font-size: calc( var(--tamano-letra) + 5px );
  }
  #contenido_asignar_personal>div:nth-child(2){
    justify-content: center;
    border-bottom: 0;
    margin: 0;
    padding: 12px 0;
  }

